#carousel{
	/*min-height: 150px;*/
}

#carousel a, #carouselm a{
	display: block;
	float: left;
	vertical-align: middle;
	margin: 3px;
	background: rgba(0,0,0,0.7);
	padding: 3px;
	text-align: center;
	cursor: default;
}

#carousel a:HOVER, #carouselm a:HOVER{
	/*background: rgb(63, 177, 144);*/
	cursor: default;
	text-decoration: none;
}

#carousel a p, #carouselm a p{
	margin-top: 2px;
	margin-bottom: 2px;
	color: white;
	cursor: default;
	line-height: 16px;
}

h3.carousel-title{ 
	background-color: rgb(63, 177, 144);
	max-width: 362px;
	color: white;
	font-weight: 400;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-table;
	font-size: 18px;
	line-height: 28px;
}

.img-player{
	width:100px;
	height:100px;
}

#playerName{
	margin-top: -33px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
	position: relative;
	color: white;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 5px;
}

#hinchasCarouselContainer{
	background: rgba(0,0,0,0.7);
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 2px;
	padding-top: 4px;
	min-width: 580px;
}


.transition {
	transition:All .2s ease;
	-webkit-transition:All .2s ease;
	-moz-transition:All .2s ease;
	-o-transition:All .2s ease;
}

/* Large desktop*/
@media (min-width: 1200px) {
	
}

@media (min-width: 980px) and (max-width: 1199px){
	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
/*
	#hinchasCarouselContainer {
		width: 453px;
		min-width: 411px;		
	}*/
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	#hinchasCarouselContainer {
		width: 453px;
		min-width: 411px;		
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	#hinchasCarouselContainer {
		width: 96%;
		min-width: 0px;
		padding-left: 16px;
	}

}

@media (max-width: 320px){
	h3.carousel-title{
		font-size: 22px;	
	}

	#hinchasCarouselContainer {
		padding-left: 0px;
	}
	
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	h3.carousel-title{
		margin-bottom: 1px;
	}
}