#carousel{
	/*min-height: 150px;*/
}

#carousel a, #carouselm a{
	display: block;
	float: left;
	vertical-align: middle;
	margin: 3px;
	background: rgba(0,0,0,0.2);
	padding: 3px;
	text-align: center;
}

#carousel a:HOVER, #carouselm a:HOVER{
	/*background: rgb(63, 177, 144);*/
}

#carousel a p, #carouselm a p{
	margin-top: 5px;
	color: white;
}

h3.carousel-title{ 
	background-color: #F2C700;
	max-width: 360px;
	color: #333;
	font-weight: 400;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-table;
}

.img-player{
	width:110px;
	height:110px;
}
#hinchasCarouselContainer{
	background: rgba(0,0,0,.7);
	padding-top: 10px;
	padding-bottom: 10px;
	padding: 2px;
	padding-top: 15px;
	min-width: 580px;
}


.transition {
	transition:All .2s ease;
	-webkit-transition:All .2s ease;
	-moz-transition:All .2s ease;
	-o-transition:All .2s ease;
}

/* Large desktop*/
@media (min-width: 1200px) {
	
}

@media (min-width: 980px) and (max-width: 1199px){
	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	#hinchasCarouselContainer {
		width: 453px;
		min-width: 411px;		
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	

	#hinchasCarouselContainer {
		width: 96%;
		min-width: 0px;
		padding-left: 16px;
	}

}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	h3.carousel-title{
		margin-bottom: 1px;
	}
}