#content {
	margin-left: 80px;
	margin-top: 10px;
	position: relative;
}

#content h1 {
	background: rgba(0,0,0,0.7);
	color: white;
	font-size: 79px;
	font-weight: bold;
	padding: 15px;
	display: inline-table;
	padding-top: 24px;
}

#content h1.secondary{
	margin-top: -10px;
}

#title0{
	background: rgba(0,0,0,0.7);
	color: white;	
	font-weight: bold;
	padding: 5px;
	display: inline-table;
}

#secondary-text {
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 12px;
	word-wrap: break-word;
	/*max-width: 430px;	*/
	margin-bottom: 25px;
}