#footer{
	border-top:5px solid #3FB190;
	margin-top: 10px;
	height: 60px;
	background: rgb(48, 48, 48);
}

#footer .span6{
	text-align: center;
	color: white;
	margin: 0;
	font-size: 17px;
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
	box-shadow: 1px 1px 1px rgb(43, 43, 43) inset;
	cursor: pointer;
	background: rgb(48, 48, 48);
}

#footer .span6 p{
	display: inline;
}

#footer .first{
	border-right: 1px solid #333;
}

a.snLink{
	text-decoration: none;
	color:white;
}
a.snLink:active{
	text-decoration: none;
	color:white;
}
a.snLink:hover{
	text-decoration: none;
	color:white;
}
a.snLink:visited{
	text-decoration: none;
	color:white;
}