body,html,input {
	font-family: Titillium Web;
	background-color: grey;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
#video_background { 
	position: absolute; 
	bottom: 0px; right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden;	
}

#trama{
	position: absolute; 
	bottom: 0px; right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	/*z-index: -1001;*/ 
	overflow: hidden;	
	background: url('/img/filtro.png');
}

#viewcube{
	background: green;
	position: fixed;
	top: 0;
}
#hinchasFooter{	
	background-color: white;
	font-weight: 600;
	padding: 5px;
	font-size: 22px;
}
#imgLogo{
	margin-top: -5px;
}

.mainContainer{
	width: 100%;
	/*height: 80%;*/
	height: 725px;
}

/* Large desktop */
@media (min-width: 1200px) {
	#viewcube{
		background: black;
	}
}

@media (min-width: 980px) and (max-width: 1199px){
	#viewcube{
		background: brown;
	}	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#viewcube{
		background: red;
	}
	body{
		padding-left: 0;
		padding-right: 0;
	}

	#content{
		margin-left: 10px;
		margin-top: 0;
	}

	#contentContainer{
		width: 90%;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#viewcube{
		background: yellow;
	}
	body{
		padding-left: 0;
		padding-right: 0;
	}

	#content{
		margin-left: 10px;
		margin-top: 0;
	}

	#contentContainer{
		width: 98%;
	}

	#content h1{
		font-size: 70px
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#viewcube{
		background: blue;
	}
	body{
		padding-left: 0;
		padding-right: 0;
	}
	#content{
		margin-left: 10px;
		margin-top: 0;
	}

	#contentContainer{
		width: 90%;
	}

	#content h1{
		font-size: 55px
	}
}