body,html,input {
	font-family: Titillium Web;
	/*background-color: grey;*/
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
#video_background { 
	position: absolute; 
	bottom: 0px; right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden;	
}

#trama{
	position: absolute; 
	bottom: 0px; right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	overflow: hidden;	
	background: url('/img/filtro.png');
}

#viewcube{
	background: green;
	position: fixed;
	top: 0;
	right:0;
}
#hinchasFooter{	
	background-color: white;
	font-weight: 600;
	padding: 5px;
	font-size: 22px;
	margin-top: 20px;
}
#imgLogo{
	margin-top: -5px;
}

.mainContainer{
	/*width: 100%;
	height: 100%;*/
}

/* Large desktop*/
@media (min-width: 1200px) {
	#viewcube{
		background: black;
	}
}

@media (min-width: 980px) and (max-width: 1199px){
	#viewcube{
		background: brown;
	}	

	#contentContainer{
		width: 670px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#viewcube{
		background: red;
	}
	body{
		padding-left: 0;
		padding-right: 0;
		background: url("/img/fondo-mobile.jpg");
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#viewcube{
		background: yellow;
	}
	body{
		padding-left: 0;
		padding-right: 0;
		background: url("/img/fondo-mobile.jpg");
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {
	#viewcube{
		background: blue;
	}

	html{
		min-width: 320px;
	}

	body{
		padding-left: 0;
		padding-right: 0;
		background: url("/img/fondo-mobile.jpg");
	}

}


@media (max-width: 320px){
	#viewcube{
		background : purple;
	}
	
	html,body{
		min-width: 320px;
		background: url("/img/fondo-mobile.jpg");
	}
}