#video_background_mobile {
	width: 100%;
}

/* Large desktop*/
@media (min-width: 1200px) {
	#videoTabletPhone{
		display: none;		
	}
}

@media (min-width: 980px) and (max-width: 1199px){
	#videoTabletPhone{
		display: block;		
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#videoTabletPhone{
		display: block;		
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#videoTabletPhone{
		display: block;		
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {
	#videoTabletPhone{
		display: block;		
	}

}

@media (max-width: 320px){
	#videoTabletPhone{
		display: block;		
	}

}