.navbar-inner{
	background: rgba(0, 0, 0, 0.3);
	/*opacity: 0.5;*/
	border: 0;
	border-radius: 0;
	padding: 10px 100px 0px 100px;
	height: 65px;
}
}

.navbar .nav > li{
	margin-top: 13px;
}

.dropdown{
	width: 135px;
}

#langs{
	margin-top: 25px;
}

#langs .dropdown-toggle{
	height: 20px;
	line-height: 20px;
}

.social{
	margin-top: 18px;
}

.social a{
	height: 20px;
	margin-top: 7px;
}

.social p{
	display: inline-table;
	margin-top: -2px;
}

.social img{
	margin-top: -9px;
}

.navbar .nav > li > a{
	text-shadow:inherit;
	color:white;
	text-align: center;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #3EB08F;
	color:white;	
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #3EB08F;
	color:white;	
	text-align: center;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-bottom-color: white;
	border-top-color: white;
	margin-left: 10px;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
	border-bottom-color: white;
	border-top-color: white;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-bottom-color: white;
	border-top-color: white;
}

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
	background: rgba(0,0,0,0.5);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: 0px;
	width: 127px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-top: 0px;
}

.navbar .nav > li > .dropdown-menu::after, 
.navbar .nav > li > .dropdown-menu::before {
	display:none;
}

.dropdown-menu > li > a {
	color:white;
	text-align: center;	
	padding: 1px 15px;
	line-height: 29px;	
}
.dropdown-menu {
	padding: 3px;
	min-width: 0px;
}
.dropdown-menu .divider {
	height: 0.01em;
	border-bottom: 1px solid rgb(162, 162, 162);
	margin:0px;
}

.top-radius{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.bottom-radius{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}




.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
	background: rgb(63,177,144); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYjE5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZWFmN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(63,177,144,1) 0%, rgba(14,175,127,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,177,144,1)), color-stop(100%,rgba(14,175,127,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(63,177,144,1) 0%,rgba(14,175,127,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(63,177,144,1) 0%,rgba(14,175,127,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(63,177,144,1) 0%,rgba(14,175,127,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(63,177,144,1) 0%,rgba(14,175,127,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fb190', endColorstr='#0eaf7f',GradientType=0 ); /* IE6-8 */
}

/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}

/* Landscape phones and down */
@media (max-width: 480px) {}