.signup-container{
	/*width:454px;*/
}
.signup {
	background: url(/img/shadow.png) repeat-x top rgba(63,177,144,1);
	padding-bottom: 1px;
	padding-left: 37px;
	margin-top: -10px;
	border-bottom: 5px solid rgba(2, 3, 3, 0.72);
}

.signup h5{
	color:white;
	font-size: 22px;
	font-weight: 400;
	line-height: 22px;
	padding-top: 13px;
	padding-left: 5px;
}

.signup .btn-primary{
	border-radius: 10px;
	/*height: 20px;*/
	background: #333;
	font-size: 13px;
	width: 125px;
	margin-left: 20px;
	border: none;
}

.signup-success {
	background: rgba(0, 0, 0, 0.7);
	color: white;	
	/*margin-top:20px;*/
	padding: 12px;
	box-shadow: 0px 2px 7px rgb(24, 24, 24) inset;mrt
}

.share-container{
	margin-top: 20px;	
}

.share-twitter-container{
	margin-bottom: 10px;
}

#btnShareTw {
	background: url('/img/share_twitter.png') no-repeat;
	color: white;
	font-weight: normal;
	font-size: 13px;
	width: 112px;
	height: 23px;
	border: none;
	border-radius: 0;
	box-shadow: 0 0;
	margin-bottom: 15px;
	padding-left: 46px;
	padding-top: 5px;
	text-align: inherit;
}

#btnShareFb{
	background: url('/img/share_facebook.png') no-repeat;
	color: white;
	font-weight: normal;
	font-size: 13px;
	width: 112px;
	height: 23px;
	border: none;
	border-radius: 0;
	box-shadow: 0 0;
	padding-left: 46px;
	padding-top: 5px;
	text-align: inherit;
}

#txtEmail{
	border-radius: 10px;
	width: 340px;
}

#sharetitle{
	font-size: 20px;
}
#btnsocialcontainer{
	padding-left: 42px;
}

.popover-title {
	padding: initial;
}

/* Large desktopp*/
@media (min-width: 1200px) {
	
}

@media (min-width: 980px) and (max-width: 1199px){
	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	/*.signup {
		padding-left: 20px;
	}
	
	.signup .btn-primary {
		margin-top: 10px;
		margin-left: 0px;
	}*/
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.signup {
		padding-left: 20px;
	}
	
	.signup .btn-primary {
		margin-top: 10px;
		margin-left: 0px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	
	#txtEmail{
		width: 96%;
	}	

	.signup {
		padding-left: 13px;
	}

	.signup .btn-primary {
		margin-top: 10px;
		margin-left: 138px;
	}
}

@media (max-width: 320px){
	.signup .btn-primary{
		margin-left: 77px;
	}
}