<template name='carousel'>
	<div class='hidden-phone'>
		<h3 class='carousel-title'>{{translate 'landing.title3'}}</h3>
		<div id='hinchasCarouselContainer'>
			<div id='carousel' style='height: auto'>
				{{#each players}}
				{{> player}}
				{{/each}}
			</div>
		</div>
	</div>
</template>

<template name='carouselmobile'>
	<div class='visible-phone'>
		<h3 class='carousel-title'>{{translate 'landing.title3'}}</h3>
		<div id='hinchasCarouselContainer'>
			<div id='carouselm' style='height: auto'>
				{{#each players}}
				{{> player}}
				{{/each}}
			</div>
		</div>
	</div>
</template>



<template name='player'>
	<a href="#" class=''>
		<img src='{{imageurl}}' class='img-player'><p>{{firstname}}</p>
	</a>
</template>