<template name='carousel'>
	<h3 class='carousel-title'>ELLOS YA ESTAN INVITADOS!</h3>
	<div id='hinchasCarouselContainer'>
		<div id='carousel' style='height: auto'>
			
			{{#each players}}
				{{> player}}
			{{/each}}
			
		</div>
	</div>
</template>

<template name='player'>
	
	<!-- <div style='width:100px;height:100px;background:black'> -->
		<a href="#" class='transition'>
			<img src='{{imageurl}}' class='img-player'><p>{{firstname}}</p>
		</a>
		<!-- <span>{{firstname}}</span> -->
	<!-- </div> -->
	
</template>