<template name='content'>
	<div class='full-width'>
		<div class='row-fluid'>
			<div id='content'>
				<div id='title0'>{{translate 'landing.title0'}}</div>
				<h1 class='primary'>{{translate 'landing.title1'}}</h1><br>
				<h1 class='secondary'>{{translate 'landing.title1b'}}</h1>
				<div id='secondary-text'>{{translate 'landing.title2'}}</div>
				{{> carousel}}
				{{> signup}}
				<div class='mbackgroundtexture'>
				{{> carouselmobile}}				
				{{> mvideo}}							
				<!-- <div id='hinchasFooter'>
					{{translate 'landing.footer'}}
				</div> -->
				</div>
			</div>			
		</div>
	</div>
</template>
