<template name='mvideo'>
	<div id='videoTabletPhone'>
		<!-- <h5>ENCONTRA A TUS IDOLOS EN HINCH.AS</h5> -->
		<div>
			<video id='video_background_mobile' controls preload='none'>
				<source src="http://btl.hinch.as.s3.amazonaws.com/videos/landing/landing640X360.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			</video>
			<video id='video_background_little_desktop' controls preload='none'>
				<source src="http://btl.hinch.as.s3.amazonaws.com/videos/landing/landing640X360.webm" type='video/webm; codecs="vp8, vorbis"' />
				<source src="http://btl.hinch.as.s3.amazonaws.com/videos/landing/Old_landing640X360.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			</video>
		</div>
	</div>
</template>