<template name='navbar'>	
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<div class="nav pull-left">
					<img id='imgLogo' src='/img/hinchas.png'>
				</div>
				<a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><i class='icon-globe icon-2x'></i></a>
				<div class="nav-collapse hidden-desktop">
					<ul class='nav nav-menu' role='menu'>
						{{> langDropdown}}
					</ul>
				</div> 
				<ul class="nav pull-right visible-desktop" id='largemenu'>
					<li class='social'><a href='https://www.facebook.com/hinchasok' target='_blank'><img src='/img/facebook.png'><p>facebook</p></a></li>
					<li class='social'><a href='https://twitter.com/hinchasok' target='_blank'><img src='/img/twitter.png'><p>twitter</p></a></li>
					<li class="dropdown" id='langs'>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{translate 'landing.language'}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
							{{> langDropdown}}	
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<template name='langDropdown'>
	<li><a data-lang="en" class="language-selector" href="#">English</a></li>
	<li class="divider"></li>
	<li><a data-lang="es" class="language-selector" href="#">Español</a></li>
	<li class="divider"></li>
	<li><a data-lang="it" class="language-selector" href="#">Italiano</a></li>
	<li class="divider"></li>
	<li><a data-lang="de" class="language-selector" href="#">Deutsch</a></li>
	<li class="divider" style='background-color:inherit'></li>
	<li><a data-lang="fr" class="language-selector" href="#">Français</a></li>
	<li class="divider"></li>
	<!--usar la clase bottom-radius para redondear el ultimo li -->
	<li><a data-lang="pt" class="language-selector bottom-radius" href="#">Portugues</a></li>
</template>

