<template name='signup'>
	<div class='signup-container'>
		
		
		<div class='signup full-width' id='invite'>
			<h5>Sumate vos tambien!</h5>
			<form class="form-inline">
				<fieldset>
					<!-- The email input has properties to popover validation message. Should be i18nized -->
					<input name='email' type="email" id='txtEmail' class="input-xlarge search-query" placeholder="Ingresa tu correo electronico" data-toggle='popover' data-animation='true' data-content='Por favor ingresa una dirección de email valida' data-placement='bottom' data-trigger='manual' data-title='Oops' required autofocus>
					<input type='submit' class='btn btn-primary' id='btnAceptar' value="{{translate 'landing.btnaceptar'}}">
					<!-- <div id='btnAceptar' class='btn btn-primary'>{{translate "landing.btnaceptar"}}</div> -->
				</fieldset>
			</form>
		</div>
		
		
		<div class='signup-success full-width' id='thks' style='display:none'>
			<div class='row-fluid'>					
				<div class='span8'>
					<h5>Bienvenido!</h5>
					<p>Ya sos parte del dia mundial del Hincha, invita a tus amigos a formar parte de la fiesta</p>
				</div>
				<div class='span4 share-container'>
					<div class='span12' id='btnShareTw'>
						<input type='button' value='Compartir'>						
					</div>
					<div class='span12' id='btnShareFb'>
						<input type='button' value='Compartir'>						
					</div>
				</div>
			</div>
		</div>
		

	</div>
</template>