<template name='signup'>
	<div class='signup-container' style='width:400px'>
		<div class='signup full-width'>
			<h5>Sumate vos tambien</h5>
			<form class="form-inline">
				<input type="text" class="input-medium search-query">
				<div class='btn btn-primary'>ACEPTAR</div>
			</form>
		</div>
		<div class='signup-success full-width'>
			<div class='row-fluid'>
				<div class='span2'>iconito</div>
				<div class='span8'>
					<h5>Bienvenido!</h5>
					<p>Ya sos parte del dia mundial del Hincha, invita a tus amigos a formar parte de la fiesta</p>
				</div>
				<div class='span2'>
					<div clas='span12'>
						<div class='btn btn-primary'>share tw</div>
					</div>
					<div clas='span12'>
						<div class='btn btn-primary'>share fb</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>